//this code applies to the center gray box of detail information about Steve Smith

.details {
  padding: 2rem;
  margin-left: 3rem;
  border-style: solid;
  border-color: $cardBlue;
  background-color: lighten($black, 90%);
  flex-grow: 1;
}
